<a href="https://colab.research.google.com/github/ShrestHitz/data-science-learning/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print('Data','Science','Mentorship','Program','stared','By','CampusX',sep='-')

Data-Science-Mentorship-Program-stared-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius}째C is equal to {fahrenheit}째F")

Enter temperature in Celsius: 100
100.0째C is equal to 212.0째F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [7]:
# Write your code here
num1 = int(input("Enter the 1st no: "))
num2 = int(input("Enter the 2nd no: "))

temp = num1
num1 = num2
num2 = temp

print('The swapped nos: ')
print('num1: ',num1)
print('num2: ',num2)

Enter the 1st no: 2
Enter the 2nd no: 4
The swapped nos:
num1:  4
num2:  2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [9]:
# Write your code here
import math
x1 = int(input("Enter x1 coordinate: "))
y1 = int(input("Enter y1 coordinate: "))

x2 = int(input("Enter x2 coordinate: "))
y2 = int(input("Enter y2 coordinate: "))

distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

print("THe euclidean distance between two coordinates is: ",distance)

Enter x1 coordinate: 5
Enter y1 coordinate: 8
Enter x2 coordinate: 6
Enter y2 coordinate: 10
THe euclidean distance between two coordinates is:  2.23606797749979

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [10]:
# Write your code here
P = int(input('enter principle: '))
R = int(input('enter rate: '))
T = int(input('enter time period: '))

SI = P*R*T/100

print("The SI is: ",SI)

enter principle: 1000
enter rate: 5
enter time period: 2
The SI is:  100.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [16]:
# Write your code here
heads = int(input("Enter total number of heads: "))
legs = int(input("Enter total number of legs: "))

found = False

for chickens in range(heads + 1):
    dogs = heads - chickens
    total_legs = (2 * chickens) + (4 * dogs)

    if total_legs == legs:
        print("Chickens:", chickens)
        print("Dogs:", dogs)
        found = True
        break

if not found:
    print("No valid solution found.")

Enter total number of heads: 4
Enter total number of legs: 12
Chickens: 2
Dogs: 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [15]:
# Write your code here
n = int(input("Enter the no: "))

result = (n*(n+1)*(2*n+1))/6
print(result)

Enter the no: 5
55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [17]:
# Write your code here
first = int(input("Enter 1st: "))
second = int(input("Enter 2nd: "))
n = int(input("enter n: "))

d = second - first

an = first + (n-1)*d

print(an)

Enter 1st: 3
Enter 2nd: 6
enter n: 5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [19]:
# Write your code here
n1 = int(input('num1'))
d1 = int(input('den1'))
n2 = int(input('num2'))
d2 = int(input('den2'))

rn = n1*d2 + n2*d1
rd = d1*d2

print('{}/{}'.format(rn,rd))

num13
den17
num22
den211
47/77

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [20]:
# Write your code here
import math

h_t = float(input('height: '))
b_t = float(input('breadth: '))
l_t = float(input('length: '))

h_g = float(input('height of glass: '))
r_g = float(input('radius of the glass: '))

vol_tank = h_t * b_t * l_t
vol_glass = 3.14 * r_g * r_g * h_g

print('no of glasses', math.floor(vol_tank / vol_glass))

height: 10
breadth: 19
length: 10
height of glass: 5
radius of the glass: 2
no of glasses 30